@import "tailwindcss" important;
@import "nprogress/nprogress.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-karla: "Karla", sans-serif;
  --font-lato: "Lato", sans-serif;
}

body {
  color: #181a1b;
  font-family: var(--font-karla);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-lato);
}

@theme {
  --color-primary: #101b23;
  --color-secondary: #2f3847;
  --color-accent: #56566c;
  --color-foreground: #181a1b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.ant-card-body {
  padding: 0 !important;
}

.ant-menu {
  /* width: 100%; */
  li {
    margin-left: unset;
  }
}

ol,
ul,
menu {
  list-style: disc;

  li {
    margin-left: 20px;
  }
}

.heading-8xl {
  @apply text-5xl md:text-8xl;
}

.heading-6xl {
  @apply text-3xl md:text-6xl;
}

.heading-5xl {
  @apply text-2xl md:text-5xl;
}

.heading-4xl {
  @apply text-2xl md:text-4xl;
}

.heading-3xl {
  @apply text-xl md:text-3xl;
}

.heading-2xl {
  @apply text-lg md:text-2xl;
}

.heading-xl {
  @apply text-sm md:text-xl;
}

.heading-lg {
  @apply text-base md:text-lg font-medium;
}

.body-2xl {
  @apply text-base md:text-2xl;
}

.lineHeight-2rem {
  @apply leading-6 md:leading-8;
}

.custom-container {
  @apply mx-auto w-[80%];
}

.custom-gap-6 {
  @apply gap-3 md:gap-6;
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: "";
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  animation: animloader 2s ease-in-out infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0%,
  100% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 0;
  }
}

#nprogress .bar {
  background: #56566c !important;
}
#nprogress .peg {
  box-shadow: 0 0 10px #56566c, 0 0 5px #56566c !important;
}


